.home-main-content {
  display: flex;
  --background: url(../assets/weatherimage.jpg);
  --background-repeat: no-repeat;
  height: 100%;
}
.home-main-grid {
  height: 100vh;
  justify-content: space-around;
  padding: 9px;
  background-color: #0004;
}
.homepage-first-row {
  display: flex;
  margin-top: 28px;
}
.search-input {
  display: flex;
  text-align: center;
  width: 230px;
  --border-radius: 12px;
}
.location-icon{
  display: flex;
  margin-top: 13px;
}
.search-button {
  display: flex;
  width: 70px;
  height: 35px;
  color: black;
  margin-top: 13px;
}
.dotted-icon {
  display: flex;
  margin-top: 12px;
  margin-left: 5px;
}
.citiesdata{
  display: flex;
  flex-direction: column;
  background: border-box;
  background-color: #ffff;
  width: 180px;
}
.cityname-label{
  display: flex;
  margin-top: 8px;
  color: black;
}
.city-name-row {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}
.city-name-label {
  display: flex;
  font-size: 3vh;
  color: #ffff;
}
.date-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.date-label {
  display: flex;
  color: #fff9;
}
.temperature-row {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.temperature-label {
  display: flex;
  font-size: 7vh;
  color: #ffff;
}
.weather-description-row {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.weather-description-label {
  display: flex;
  font-size: large;
  color: #ffff;
}
.sunrise-sunset-row {
  display: flex;
  margin-top: 30px;
}
.sunrise-col {
  display: flex;
  justify-content: center;
}
.sunrise-label {
  display: flex;
  color: #fff9;
}
.sunset-col {
  display: flex;
  justify-content: center;
}
.sunset-label {
  display: flex;
  color: #fff9;
}
.hourly-temperature-row {
  display: flex;
  margin-top: 20px;
}
.first-hour-temp-col {
  display: flex;
  justify-content: center;
}
.first-hour-label {
  display: flex;
  color: #ffff;
}
.first-hour-temp-text-col {
  display: flex;
  justify-content: center;
}
.first-hour-temp {
  display: flex;
  color: #ffff;
}
.second-hour-temp-col {
  display: flex;
  justify-content: center;
}
.second-hour-label {
  display: flex;
  color: #ffff;
}
.second-hour-temp-text-col {
  display: flex;
  justify-content: center;
}
.second-hour-temp {
  display: flex;
  color: #ffff;
}
.third-hour-temp-col {
  display: flex;
  justify-content: center;
}
.third-hour-label {
  display: flex;
  color: #ffff;
}
.third-hour-temp-text-col {
  display: flex;
  justify-content: center;
}
.third-hour-temp {
  display: flex;
  color: #ffff;
}
.fourth-hour-temp-col {
  display: flex;
  justify-content: center;
}
.fourth-hour-label {
  display: flex;
  color: #ffff;
}
.fourth-hour-temp-text-col {
  display: flex;
  justify-content: center;
}
.fourth-hour-temp {
  display: flex;
  color: #ffff;
}
.today-temperature-row {
  display: flex;
  margin-top: 40px;
}
.today-temp-label-col {
  display: flex;
  margin-left: 15px;
}
.today-temp-label {
  display: flex;
  color: #ffff;
}
.today-temp-text-col {
  display: flex;
}
.today-temp-text {
  display: flex;
  color: #fff9;
}
.tomorrow-temperature-row {
  display: flex;
  margin-top: 10px;
}
.tomorrow-temp-label-col {
  display: flex;
  margin-left: 15px;
}
.tomorrow-temp-label {
  display: flex;
  color: #ffff;
}
.tomorrow-temp-text-col {
  display: flex;
}
.tomorrow-temp-text {
  display: flex;
  color: #fff9;
}
.cards-row {
  display: flex;
  margin-top: 20px;
}
.humidity-card-col {
  display: flex;
  justify-content: center;
}
.humidity-card {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 80px;
  background: #fff2;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.weather-humidity-row {
  display: flex;
  justify-content: center;
  color: #ffff;
}
.weather-humidity-label {
  display: flex;
  margin-top: 5px;
  font-size: large;
}
.humidity-text {
  display: flex;
  font-size: larger;
}
.wind-speed-card-col {
  display: flex;
  justify-content: center;
}
.wind-speed-card {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 80px;
  background: #fff2;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.wind-speed-row {
  display: flex;
  justify-content: center;
  color: #ffff;
}
.wind-speed-label {
  display: flex;
  margin-top: 5px;
  font-size: large;
}
.Winds-text {
  display: flex;
  font-size: larger;
}
.feels-like-card-col {
  display: flex;
  justify-content: center;
}
.feels-like-card {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 80px;
  background: #fff2;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.feels-like-row {
  display: flex;
  justify-content: center;
  color: #ffff;
}
.feels-like-label {
  display: flex;
  margin-top: 5px;
  font-size: large;
}
.feels-like-text {
  display: flex;
  font-size: larger;
}
.one-week-temp-card-row {
  display: flex;
  justify-content: center;
}
.one-week-temp-card {
  display: flex;
  justify-content: center;
  border-radius: 20px;
  height: 35px;
  width: 300px;
  background: #fff4;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.one-week-temp-button {
  display: flex;
  margin-top: 8px;
  font-size: 2vh;
  color: #ffff;
}
