.profile-main-content {
  display: flex;
  --background: rgb(96, 96, 125);
}
.profile-row {
  display: flex;
  margin-top: 45px;
}
.profile-arrow-back-icon {
  display: flex;
  margin-right: 30px;
}
.profile-col {
  display: flex;
  font-size: 25px;
  margin-right: 100px;
  color: #ffff;
}
.profile-image-row{
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.email-login-user-image{
  display: flex;
  color: #ffff;
}
.profile-avatar {
  display: flex;
  width: 70px;
  height: 70px;
}
.username-row {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  font-size: large;
  color: white;
}
.useremail-row {
  display: flex;
  justify-content: center;
  margin-top: 5px;
  font-size: small;
  color: white;
}
