.settings-main-content{
    display: flex;
    --background: rgb(42, 42, 67);
}
.settings-row{
    display: flex;
    margin-top: 50px;
}
.settings-col{
    display: flex;
    font-size: 25px;
    margin-right: 140px;
    color: white;
}
.arrow-back-icon{
    display: flex;
    margin-left: 20px;
}
.settings-grid {
    background: #fff9;
    border-radius: 20px 20px 0 0;
    margin-top: 40px;
  }
  .settings-grid-row {
    padding: 6%;
    font-size: 18px;
    margin-left: 20px;
    color: black;
  }